<h1>Editing Planning Center Person</h1>

<%= render 'form', planning_center_person: @planning_center_person %>

<%= link_to 'Show', @planning_center_person %> |
<%= link_to 'Back', planning_center_people_path %>
